<div class="container">
  <h3>Criar uma conta</h3>
  <form action="/clientes" method="POST">
    <p class="mt-2 p-2 alert alert-warning" role="alert">o formato do endereco de ser :<strong> pais, provincia,
        municipio, bairro, rua, numero de casa</strong></p>
    <div class="d-flex" style="gap: 30px; margin: 30px 0px">
      <input required type="text" name="nome" placeholder="nome " class="form-control fornecedor-field-ckeck">
      <input required type="email" name="email" placeholder="email" class="form-control fornecedor-field-ckeck" />
      <input required type="tel" name="telefone" placeholder="telefone" class="form-control fornecedor-field-ckeck" />
      <input type="text" name="endereco" placeholder="pais, provincia, municipio, bairro, rua, numero de casa"
        class="form-control w-100 fornecedor-field-ckeck">
    </div>

    <button type="submit" class="site-btn">REGISTRAR</button>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">telefone</th>
        <th scope="col">acções</th>
      </tr>
    </thead>
    <tbody>
      {{#each clientes}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.nome}}</td>
        <td>{{this.email}} Kzs</td>
        <td>{{this.telefone}}, {{this.municipio}}</td>
        <td>
          <a href="/admin/armazens/{{this.id}}/delete" style="text-decoration: none;color:brown;font-size:1.2rem">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      {{/each}}

    </tbody>
  </table>
</div>